In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
orders = pd.read_csv('Orders_20211018.csv', sep=';')

In [4]:
orders.head()

,%Order%,%Debtor%,OrderNumberMain,VOLGNR,%Order.Loading.Date%,%Order.Unloading.Date%,%Order.CreatedDate%,Order.CreatedTime,SoortRit,Order.Kind,%Order.Department%,Order.Size.LM,Order.Size.Weight,Order.Klasse.LM,Order.Klasse.Size,Distance,#Ritten,Uitbesteed%
0,"3,12831E+11",10045,31283134,1,28-11-2019,29-11-2019,28-11-2019,11:12,Normaal,WICS ORDER,Huif - Internationaal,"0,4",495,< 1lm,Klein,"84,56016431",1,"0,00%"
1,"1,17076E+11",16498,11707553,1,19-2-2019,20-2-2019,19-2-2019,13:12,Normaal,Normale order,Huif - Benelux,"0,4",500,< 1lm,Klein,"76,79606352",2,"0,00%"
2,"1,18296E+11",10739,11829648,1,20-2-2020,21-2-2020,20-2-2020,09:12,Normaal,Normale order,Huif - Benelux,"1,5",3000,1-2 lm,Klein,"116,4987935",2,"0,00%"
3,"1,19517E+11",4046,11951743,1,26-3-2021,29-3-2021,26-3-2021,12:12,Normaal,Normale order,Huif - Benelux,"0,4",100,< 1lm,Klein,"91,3393582",2,"50,00%"
4,"1,18296E+11",10739,11829648,2,20-2-2020,21-2-2020,20-2-2020,11:12,Normaal,Normale order,Huif - Benelux,"0,2",51,< 1lm,Klein,"78,43046515",2,"0,00%"

In [5]:
orders = orders.rename(columns={"%Debtor%" : "debnr"})

In [6]:
orders = orders.drop("%Order%", axis=1)

In [7]:
orders.head()

,debnr,OrderNumberMain,VOLGNR,%Order.Loading.Date%,%Order.Unloading.Date%,%Order.CreatedDate%,Order.CreatedTime,SoortRit,Order.Kind,%Order.Department%,Order.Size.LM,Order.Size.Weight,Order.Klasse.LM,Order.Klasse.Size,Distance,#Ritten,Uitbesteed%
0,10045,31283134,1,28-11-2019,29-11-2019,28-11-2019,11:12,Normaal,WICS ORDER,Huif - Internationaal,"0,4",495,< 1lm,Klein,"84,56016431",1,"0,00%"
1,16498,11707553,1,19-2-2019,20-2-2019,19-2-2019,13:12,Normaal,Normale order,Huif - Benelux,"0,4",500,< 1lm,Klein,"76,79606352",2,"0,00%"
2,10739,11829648,1,20-2-2020,21-2-2020,20-2-2020,09:12,Normaal,Normale order,Huif - Benelux,"1,5",3000,1-2 lm,Klein,"116,4987935",2,"0,00%"
3,4046,11951743,1,26-3-2021,29-3-2021,26-3-2021,12:12,Normaal,Normale order,Huif - Benelux,"0,4",100,< 1lm,Klein,"91,3393582",2,"50,00%"
4,10739,11829648,2,20-2-2020,21-2-2020,20-2-2020,11:12,Normaal,Normale order,Huif - Benelux,"0,2",51,< 1lm,Klein,"78,43046515",2,"0,00%"

In [8]:
orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 548311 entries, 0 to 548310
Data columns (total 17 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   debnr                   548311 non-null  int64
 1   OrderNumberMain         548311 non-null  int64
 2   VOLGNR                  548311 non-null  int64
 3   %Order.Loading.Date%    548311 non-null  object
 4   %Order.Unloading.Date%  548311 non-null  object
 5   %Order.CreatedDate%     548311 non-null  object
 6   Order.CreatedTime       548311 non-null  object
 7   SoortRit                525360 non-null  object
 8   Order.Kind              548229 non-null  object
 9   %Order.Department%      548311 non-null  object
 10  Order.Size.LM           548311 non-null  object
 11  Order.Size.Weight       548311 non-null  object
 12  Order.Klasse.LM         548311 non-null  object
 13  Order.Klasse.Size       548311 non-null  object
 14  Distance                548286 non-null  object
 15  #Ritten                 548311 non-null  int64
 16  Uitbesteed%             547645 non-null  object
dtypes: int64(4), object(13)
memory usage: 71.1+ MB

In [9]:
customers = pd.read_excel('klantenbestand_03112021.xlsx')

In [10]:
customers.head()

,Bedrijf,Branche,Debiteurnummer
0,Kennis Transport & Logistics B.V.,"Transport, logistics and expedition",KENNISTR
1,Wex Holland B.V.,"Transport, logistics and expedition",5683
2,Oldenburger Fritom,"Transport, logistics and expedition",OLDENBURG
3,G. van Doesburg Internationaal Transport B.V.,"Transport, logistics and expedition",727
4,MOL Logistics B.V.,"Transport, logistics and expedition",1438

In [11]:
customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550 entries, 0 to 549
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Bedrijf         550 non-null    object
 1   Branche         550 non-null    object
 2   Debiteurnummer  549 non-null    object
dtypes: object(3)
memory usage: 13.0+ KB

In [12]:
customers = customers.rename(columns = {"Debiteurnummer" : "debnr"})

In [13]:
customers.head()

,Bedrijf,Branche,debnr
0,Kennis Transport & Logistics B.V.,"Transport, logistics and expedition",KENNISTR
1,Wex Holland B.V.,"Transport, logistics and expedition",5683
2,Oldenburger Fritom,"Transport, logistics and expedition",OLDENBURG
3,G. van Doesburg Internationaal Transport B.V.,"Transport, logistics and expedition",727
4,MOL Logistics B.V.,"Transport, logistics and expedition",1438

In [14]:
customers['debnr'] = pd.to_numeric(customers['debnr'],errors='coerce')

In [15]:
customers['debnr'] = customers['debnr'].fillna(0)

In [16]:
customers['debnr'] = customers['debnr'].astype(int)

In [17]:
customers.head()

,Bedrijf,Branche,debnr
0,Kennis Transport & Logistics B.V.,"Transport, logistics and expedition",0
1,Wex Holland B.V.,"Transport, logistics and expedition",5683
2,Oldenburger Fritom,"Transport, logistics and expedition",0
3,G. van Doesburg Internationaal Transport B.V.,"Transport, logistics and expedition",727
4,MOL Logistics B.V.,"Transport, logistics and expedition",1438

<h2>Joinen van data</h2>

In [18]:
df = orders.merge(right=customers, left_on='debnr', right_on='debnr', how='left')

In [19]:
df[df['Bedrijf'].isnull()]

,debnr,OrderNumberMain,VOLGNR,%Order.Loading.Date%,%Order.Unloading.Date%,%Order.CreatedDate%,Order.CreatedTime,SoortRit,Order.Kind,%Order.Department%,Order.Size.LM,Order.Size.Weight,Order.Klasse.LM,Order.Klasse.Size,Distance,#Ritten,Uitbesteed%,Bedrijf,Branche
9,11181,11816082,1,8-1-2020,9-1-2020,8-1-2020,10:12,Normaal,Normale order,Huif - Benelux,"0,6",103,< 1lm,Klein,"51,77323854",2,"0,00%",NaN,NaN
23,8053,11897479,1,6-10-2020,8-10-2020,6-10-2020,07:12,Normaal,Normale order,Huif - Internationaal,"1,2",450,1-2 lm,Klein,"552,4077829",2,"0,00%",NaN,NaN
26,7431,12006008,1,9-9-2021,14-9-2021,8-9-2021,11:12,Normaal,Operationele order,Huif - Internationaal,"3,2",5789,3-4 lm,Middel,"980,2533579",2,"0,00%",NaN,NaN
31,7643,71058338,1,3-2-2020,3-2-2020,29-1-2020,09:12,Normaal,Normale order,GDP - Benelux,"1,75",0,1-2 lm,Klein,"53,74548434",1,"0,00%",NaN,NaN
34,11181,11856781,1,20-5-2020,25-5-2020,20-5-2020,10:12,Normaal,Normale order,Huif - Benelux,"6,6",2400,6-7 lm,MiddelGroot,"113,6106609",2,"0,00%",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558830,4095,71058337,1,29-1-2020,30-1-2020,29-1-2020,12:12,GDP,WICS ORDER,GDP - Internationaal,"0,4",0,< 1lm,Klein,"148,0700921",1,"0,00%",NaN,NaN
558831,3671,31310266,1,16-6-2020,17-6-2020,16-6-2020,11:12,Normaal,Operationele order,Huif - Internationaal,6,10150,6-7 lm,MiddelGroot,"425,0217379",1,"0,00%",NaN,NaN
558833,11181,11856780,1,20-5-2020,22-5-2020,20-5-2020,10:12,Normaal,Normale order,Huif - Benelux,"0,2",50,< 1lm,Klein,"42,39160107",2,"0,00%",NaN,NaN
558835,7643,71044771,1,15-1-2019,16-1-2019,15-1-2019,13:12,Normaal,Normale order,GDP - Internationaal,"0,4",0,< 1lm,Klein,"23,92629241",1,"0,00%",NaN,NaN
558840,4708,11843214,1,2-4-2020,7-4-2020,2-4-2020,11:12,Normaal,Normale order,Huif - Internationaal,"0,8",3000,< 1lm,Klein,"1007,398352",2,"50,00%",NaN,NaN

In [20]:
df.isnull().sum()

debnr                         0
OrderNumberMain               0
VOLGNR                        0
%Order.Loading.Date%          0
%Order.Unloading.Date%        0
%Order.CreatedDate%           0
Order.CreatedTime             0
SoortRit                  26185
Order.Kind                   82
%Order.Department%            0
Order.Size.LM                 0
Order.Size.Weight             0
Order.Klasse.LM               0
Order.Klasse.Size             0
Distance                     25
#Ritten                       0
Uitbesteed%                 680
Bedrijf                   83286
Branche                   83286
dtype: int64

In [22]:
df.dtypes

debnr                      int64
OrderNumberMain            int64
VOLGNR                     int64
%Order.Loading.Date%      object
%Order.Unloading.Date%    object
%Order.CreatedDate%       object
Order.CreatedTime         object
SoortRit                  object
Order.Kind                object
%Order.Department%        object
Order.Size.LM             object
Order.Size.Weight         object
Order.Klasse.LM           object
Order.Klasse.Size         object
Distance                  object
#Ritten                    int64
Uitbesteed%               object
Bedrijf                   object
Branche                   object
dtype: object